body{
  margin:0;
  padding:0;
}
body{
  margin:0;
  padding:0;
  background:#0a0712;
  color:white;
  font-family:Poppins,sans-serif;
.header{
  padding:15px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.logo{
  font-size:28px;
  font-weight:700;
  color:#ff4fd8;
}

.profile{
  width:45px;
  height:45px;
  border-radius:50%;
}

.video-card{
  margin:15px;
  background:#111827;
  padding:10px;
  border-radius:15px;
}

.video-card img{
  width:100%;
  border-radius:10px;
}

.video-title{
  margin-top:10px;
  font-size:16px;
  font-weight:600;
}
